#id                             : SDeposit
#GlobalStep                     : {Step}
#Action                         : SubmitSecurityDepositDB
#Execute                        : TRUE
#TestCase                       : 
#Timeout                        : 10
#Comment                        : 
#Transaction ID                 : "100@{{trimright(Static.Instr.substring(3),3)}}"
#Request Source                 : 3
#Deposit Withdraw Type          : 1
#Transaction Category           : 27
#Transaction Sub Category       : 1234
#Request Type                   : 2
#Participant ID                 : 
#Requested Participant ID       : 
#Securities_Account_ID          : 555000018486
#Instrument_ID                  : @{{instrumentId(Static.Instr)}}
#Transaction Quantity           : 100000
#Remark                         : TEST REMARK
#Balance Expected Reversal Date : "@{{format(time(0),'dd-MM-yyyy')}}"
#Transferee Name                : Name1
#Transferee_NRIC_Passport       : S1234567D
#Transferee Address             : 234
#Transferee Contact Number      : 234
#Counterparty Account Name      : 1324
#Counterparty Account Number    : 124123
#Counterparty BIC Code          : 41234
#Beneficial Owner               : 1234
#Beneficial Owner Acc Number    : 1234
#Beneficial Owner BIC           : 23412
#Place Of Settlement            : 234
#Trade Date                     : "@{{format(time(0),'dd-MM-yyyy')}}"
#Settlement Date                : "@{{format(time(0),'dd-MM-yyyy')}}"
#Declaration                    : 341234
#Matching Reference             : 23412
#Deposit Withdraw Status        : 8
#Deposit Withdraw Sub Status    : 0
#Next Status                    : 0
#Entering User ID               : WEBADMIN
#Last Updated User              : WEBADMIN
#CA Type                        : 0
#Moratorium Deposit             : 0
#Batch ID                       : 3456
